body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/329062983.jpg?k=e5ef24c7c1db5f392ffd5cc245e6a7f6b37023e1373e9cd9d24fee96782db0d0&o=&hp=1');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

#features article {
    max-width: 300px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
